@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600&display=swap'); 
body{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.container{
    width: 75%;
}
h2 {
    font-weight: 700;
    font-size: 48px;
    color: #3b3b3b;}
.bg-orange
{
    background-color: #ff724c;
    color: white; ;
}
 h1,h2{
    font-family: 'Dosis', sans-serif;

}


/* 
//animation */

@keyframes headerAnimation {
    0%{
        transform: scaleX(0);
   
    }
    100%{
        transform: scaleX(1);
   
    }
}


@keyframes slideInUp{
    
    0%{transform:translate3d(0,100%,0)}
    
    100%{transform:translateZ(0)}}





    /* loading screen  style  */
    .loading{
        z-index:9999;
    }
    .loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        border: 3px solid;
        border-color: #ff724c  #ff724c transparent transparent;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
      }
      .loader::after,
      .loader::before {
        content: '';  
        box-sizing: border-box;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border: 3px solid;
        border-color: transparent transparent #FF3D00 #FF3D00;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotationBack 0.5s linear infinite;
        transform-origin: center center;
      }
      .loader::before {
        width: 32px;
        height: 32px;
        border-color: #ff724c #ff724c transparent transparent;
        animation: rotation 1.5s linear infinite;
      }
          
      @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      } 
      @keyframes rotationBack {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(-360deg);
        }
      }
          
/* navbar style ------------------------------------ */
.navbar{
    animation-name:headerAnimation;
    animation-duration: 5s;
}
 .navbar .buttn {
    background-color: #ff724c;
    color: white;
 
} 
.navbar .nav-item .nav-link 
{
    font-weight: 400;
    color: #818181;
    margin: 0 18px;
    padding: 10px 0;
    position: relative;

}
.navbar .nav-item .nav-link::after{
    content: "";
    position: absolute;
    background-color: #ff724c;
    width:0%;
    bottom: 0;
    height: 2px;
    left: 0;
    padding: 0;
    transition: width .5s;


}
.navbar .nav-item .nav-link.active::after{
    width:100%;
}
.navbar .nav-item .nav-link:hover::after{
    width:100%;

}
.navbar .nav-item .nav-link.active{
    color: #313335;
    font-size: 16px;
}
.buttn span{
    font-size: 14px;

}
.buttn i{
    transition: 1s;
}
.buttn:hover i{
    background-color:#3b3b3b !important;
    color: #fff !important;
    transform: rotate(360deg);
}

/* ----------------------header style ------------------------------------ */
.header
{
    background-image: url(../images/introbg5.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: 40%;
    animation-name:headerAnimation;
    animation-duration: 6s;
}

.header-content {
    animation-name:slideInUp;
    animation-duration: 5s;
}


.header-content span{
    color: #313335;;
    font-size: 23px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    margin-right: 3px;
}
h1{
    font-size: 60px;
    font-weight: 700;
    color: #212529;
    margin-top: -12px;
}
.header-content p{
    color: #313335;
    font-size: 23px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    margin-right: 2px;
    margin-top: 10px;
    width: 0;
    border-right:1px solid ;
    overflow: hidden;
    margin-left: auto;
    white-space: nowrap;
    animation: typing 3s both infinite alternate-reverse steps(28), blink .7s infinite ;

}
@keyframes typing{
    from{
        width: 0 px;
    }
   to{
    width: 330px; 

}}
@keyframes blink{

  from{
       border-color: rgba(0,0,0,0);
    }
   to{
    border-color: rgba(0,0,0, 0.5);

}}
    

.header-content .icon i{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #3b5999;
    border: 1px solid #3b5999;
    cursor: pointer;
    transition: transform .5s,background-color .5s;
}

.header-content .icon i:hover{
    background-color: #3b5999;
    color: #fff !important;
    transform: rotate(360deg);
    }

.header-content .icon:nth-child(2) i{
    color:  #ea4c89;
    border: 1px solid  #ea4c89;

}
.header-content .icon:nth-child(3) i{
    color:  #1769ff;
    border: 1px solid  #1769ff;

}
.header-content .icon:nth-child(4) i{
    color:  #0077b5;
    border: 1px solid  #0077b5;

}
.header-content .icon:nth-child(5) i{
    color:#dd4b39;
    border: 1px solid  #dd4b39;

}
.header-content .icon:nth-child(2):hover i{

    background-color: #ea4c89;

}
.header-content .icon:nth-child(3):hover i{

    background-color: #1769ff;

}
.header-content .icon:nth-child(4):hover i{

    background-color: #0077b5;

}
.header-content .icon:nth-child(5):hover i{

    background-color: #dd4b39;

}
@media ( width < 991px) {
    h1{ font-size: 50px;
}}

@media ( width <786px) {
    h1{ font-size: 40px;


    }}
@media ( width <480px) {
    h1{ font-size: 30px;


    }}


/* ----------------------about style ------------------------------------ */
.about .numbers{
    height:380px;
    background-color: #4e4e4e;
    color: #f3f3f3;
 
}
.about  .container{
    width: 62%;
}

.about .numbers .number{
    height: 150px;
}
.about .numbers .number h3{
    
    font-size: 16px;
    font-weight: 700;
    font-family: 'Dosis', sans-serif;

}
.about .numbers .number span {
    font-size: 26px;
    font-weight: 700;
}

@media ( width < 991px) {
    .about .numbers .number{
        border: none !important;
        height: 90px;

    }
    
}

.about .about-content{
    height:380px;
    background-color:#ff7a57;
    color: #f3f3f3;
}

.about .about-content .title h2 {
    color: #f3f3f3;
    margin-left:20px ;
    margin-bottom: 18px;

}
.about .about-content p{
font-size: 14px;
font-weight: 400;}

.about .about-content .my-Portfolio-btn,
.contact .my-Message-btn {
    padding: 6px 20px 6px 0px;
    color: #3b3b3b;
    background-color: #f3f3f3;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 600;
    display: inline-block;

}

.about .about-content .my-Portfolio-btn span,
.contact .container .my-Message-btn span{
    margin: auto;
}
.about .about-content .my-Portfolio-btn .eye-icon,
.contact .my-Message-btn .eye-icon {
    background-color:#3b3b3b;
    color: #f3f3f3;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;

}

/* ----------------------services style ------------------------------------ */
.title {
    width: fit-content;
}
.title span {
    top:-30px;
    left: -30px;
    color: #818181;
    font-weight: 500;
    padding-right: 15px;
    font-size: 15px;
    border-bottom: 1px solid #ff724c;
}
.services .service h6{
color: #3b3b3b;
font-size: 20px;
font-weight: 500;
margin-bottom: 10px;
}
.services .service  p{
color: #818181;
font-weight: 400;
margin-bottom: 30px;
font-size: 14px;

}
.services .service::before{
    content: " ";
    position: absolute;
    width: 100% ;
    height: 0;
    top:0;
    bottom: 0;
    left: 0;
    background-color: #f3f3f3;
    z-index: -1;
    border-radius:5px ;
    transition:height 1s;

}
.services .service:hover::before{

    height: 100%;
}

/* ----------------------portfolio style ------------------------------------ */

section.portfolio {
    background-color: #f3f3f3;}

.portfolio  .nav-link{
 font-size: 14px;
 border: 1px solid #5f5f5f;
 color: #5f5f5f;

}
.portfolio  .nav-link:hover{
    border: 1px solid #5f5f5f;  
}
.portfolio .nav-link.active{
    color: #f3f3f3;
    border: 1px solid #ff724c;
    background: #ff724c;
}
.portfolio .portfolio-item .overlay{
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color:rgba(0,0,0, 0.2);
    border-radius: 15px;
    transition: .5s;
    transform: scaleY(0);
   
}
.portfolio .portfolio-item:hover .overlay{
    transform: scaleY(1);
} 
.portfolio .portfolio-item .overlay i{
    transition: .5s;
}
.portfolio .portfolio-item .overlay i:hover{
    color: #ff724c;
    border: 1px solid #f3f3f3 ;
    background: transparent;

}
.portfolio .portfolio-item:hover .overlay i{
    transform:rotate(360deg);
} 
.portfolio .portfolio-item .info {
    opacity: 0;
    bottom: 30px;
    transition: 0.7s;
}
.portfolio .portfolio-item:hover .info{
    bottom: 0px;
    opacity: 1;
}
.portfolio .portfolio-item .info i {
    color: #ff724c;
    font-size: 18px;
}
.portfolio .portfolio-item .info .desc h3{
    font-size: 16px;
}
.portfolio .portfolio-item .info .desc p{
    font-size: 14px;
}
/* ----------------------bio style ------------------------------------ */
section.bio .bio-item .head h3{
  
    font-size: 20px;
}
section.bio .bio-item .head i{
    width:50px;
    height:50px;
    line-height: 50px;
    transition: .3s;
   
}
section.bio .bio-item .head:hover i{
    background-color: #f3f3f3;
    color: #ff724c;
}
section.bio .bio-item .head::before,section.bio .bio-item .desc::before{
    content: '';
    position: absolute;
    background-color:  #3b3b3b;
    width:1px;
    height:35%;
    top:50px;
    left: 25px;
}
section.bio .bio-item .desc::before{
    height:110%;
    top:0px;
    left: 25px;
}


section.bio .bio-item .item h4{
    font-size: 14px;
} 

section.bio .bio-item .item .coloured{
    color:#ff724c ;
    font-size: 15px;
} 
section.bio .bio-item .item p{
    font-size: 15px;
} 
/* drow circle */
section.bio .bio-item .item::before{
    content: '';
    position: absolute;
    width:10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #ff724c;
    left: 16px;
    transition: background-color .3s ;
    top: 7px;
   
}
section.bio .bio-item .item:hover::before{
    background-color:#ff724c ;
}
section.bio .bio-item .item:not(:last-of-type)::after{
    content: '';
    position: absolute;
    background-color:  #3b3b3b;
    width:1px;
    height: 88%;
    top:18px;
    left: 21px;
}

section.bio .bio-item .item .bar{
    width: 100%;
    height: 6px;
    border-radius: 10px;
    background-color:#3b3b3b;

}

section.bio .bio-item .item .bar::before{
    content: '';
    position: absolute;
    background-color:#ff724c;
    height: 7px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
 
}
section.bio .bio-item .item[val='80'] .bar::before,
section.bio .bio-item .item[val='80'] h4{
    width:80%;
} 
section.bio .bio-item .item[val='70'] .bar::before,
section.bio .bio-item .item[val='70'] h4{
    width:70%;
} 
section.bio .bio-item .item[val='55'] .bar::before,
section.bio .bio-item .item[val='55'] h4{
    width:55%;
} 
/* ----------------------resume style ------------------------------------ */

section.resume {
    background-image: url(../images/brandbg.png);
    background-size: cover;
}


section.resume::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #3b3b3b;
    opacity: 0.75;
}
section.resume .row
{
    z-index: 99;
}

@media ( width <786px) {
section.resume .row{ text-align: center;


    }}
section.resume p {
    font-size: 32px;
}
section.resume button{
    font-size: 16px;
    transition: .3s;

}
section.resume button:hover{
    background-color:#ff724c ;
    border-color:  #ff724c !important;
}

/* ----------------------testimonials style ------------------------------------ */

section.testimonials h3{
color: #313131;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 18px;
}
section.testimonials p{
    color: #5b5b5b;
    font-size: 18px;

}

section.testimonials .quote span{
    color: #5b5b5b;
    font-size: 18px;
    font-style: italic;
}


section.testimonials .quote:hover {
    color: #f3f3f3;
    background: #5b5b5b;
}
section.testimonials .quote:hover span{
    color: #f3f3f3;
}
section.testimonials .carousel-indicators{
    bottom:-50px;
}
section.testimonials .carousel-indicators button{
     width: 13px;
     height: 13px;
     border-radius:50% ;
     border: 1px solid #ff724c;
}
section.testimonials .carousel-indicators button.active{
   background-color:#ff724c ;
}



/* ---------------------- style ------------------------------------ */

section.contact {
    background-image: url(../images/brandbg.png);
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

section.contact::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #ff724c;
    opacity: 0.80;
}
section.contact .container{
    z-index: 1;
}
section.contact ::placeholder{
    color:white;
    font-size: 16px;

}
section.contact .row input:focus ,section.contact .row textarea:focus {
    box-shadow: none;
    border: 1px white solid !important;
}

/* ----------------------map style ------------------------------------ */
.map .container{
    left: 50%;
    transform: translateX(-50%);
    background: #282828;
    
}

.map  .contact-info .info {
    color: #f3f3f3;
}
.map  .contact-info .info i{
    color:#ff724c;
    transition: .5s;
}
.map  .contact-info .info i:hover{
    color:white;
    background: #ff724c !important;
    transform: rotate(360deg);
}
.map  .contact-info .info-desc h3{
 font-size: 16px;


}
/* ---------------------- footer style ------------------------------------ */
.footer p{
    
    font-size: 18px;
    color: #818181;
}
.footer p span{
    color:#ff724c; 
}

#mov-to-top{
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    opacity:0;
    transition: .5s;

}
#mov-to-top:hover{
    cursor: pointer;
}